<ion-header>
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
	<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-router-outlet></ion-router-outlet>

<ion-content>
	<header>
		<table>
			<tr>
				<td>
					<h3 style="color:white;">{{ hike.name | uppercase }}</h3>
				</td>
				<td>
					<my-stopwatch #stopWatch [hikeid]="hike.id"></my-stopwatch>
				</td>
			</tr>
		</table>
	</header>
	<table class="detail-table">
		<tr>
			<td>
				<div class="map-style" #hikeMap></div>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
		</tr>
		<tr style="text-align:center;padding:0;">
			<td>
				<h2>STEPS</h2>
				<ion-list>
					
				<ion-item *ngFor="let step of hike.steps; let i = index">
					<table>
						<tr>
							<td>Step {{ i+1 }}
								<b *ngIf="step == currentStepText">EN COURS</b> 
							</td>
						</tr>
						<tr>
							<td>
								{{step}} {{currentStepText}}
							</td>
						</tr>
					</table>
				</ion-item>
				</ion-list>
			</td>
		</tr>
		<tr>
			<td style="text-align:center;">
				<ion-button color="primary" fill="outline" routerLink="/">Finish</ion-button>
			</td>
		</tr>
	</table>
</ion-content>
