<ion-header>
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<h2 class="header">Hikings :</h2>
	<table *ngFor="let hike of hikes" class="item">
		<tr>
			<td colspan="2"><ion-img class="item-img" src="{{hike.img}}"></ion-img></td>
		</tr>
		<tr>
			<td style="width:70%;" colspan="2" ><h3>{{hike.name}}</h3></td>
		</tr>
		<tr>
			<td colspan="2" class="line-spacing">{{hike.location}}</td>
		</tr>
		<tr>
			
			<td colspan="2" style="max-width:70%;" class="line-spacing">{{hike.description}}</td>
		</tr>
		<tr>
			
			<td>~{{hike.duration | second2time}}</td>
			<td>{{hike.stepping}} m</td>
		</tr>
		<tr>
			<td colspan="2" class="line-spacing"><span *ngFor="let item of hikeService.htmlMarkGenerator(hike.mark)"><ion-icon *ngIf="item == 0" name="star-outline" ></ion-icon><ion-icon *ngIf="item == 1" name="star" ></ion-icon></span></td>
		</tr>
		<tr>
			<td><ion-button routerLink="/start/{{hike.id}}" shape="round" fill="outline">Let's hike</ion-button></td>
			<td style="text-align:right;padding-right:10px;"><ion-button routerLink="/details/{{hike.id}}" shape="round" fill="outline">Details</ion-button></td>
		</tr>
	</table>
</ion-content>

<!--(click)="onSelect(hike)"-->
