.header
{
	text-align:center;
}

.debug
{
	margin:auto;
}

.debug tr
{
	border:1px black solid;
}

.debug td
{
	border:1px black solid;
}

.item
{
	margin:30px auto 30px auto;
	
	box-shadow: 5px 5px 15px grey;
	width:70%;
}

.line-spacing
{
	padding:10px 0 10px 0;
}

.item-img
{
	width:70%;margin:auto;
}
